<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}سایت دانشگاه{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>

    {% if is_authenticated %}
        <div id="navbar" class="ui five item menu" style="background-color:#5F5CCE">
            <a id="homepage" class="item active" href="/">صفحه اصلی</a>
            <a id="profile" class="item" >نمایه کاربر</a>
            <a id="logout" class="item " >خروج</a>
            <a id="panel" class="item" >پنل کاربر</a>
            <a id="contact_us" class="item" href="/contactus">تماس با ما</a>
        </div>

    {% elif not is_authenticated %}
        <div id="navbar" class="ui four item menu" style="background-color:#5F5CCE">
        <a id="homepage" class="item active" href="/">صفحه اصلی</a>
        <a id="login" class="item" href="/login/">ورود</a>
        <a id="register" class="item" href="/signup/">ثبت نام</a>
        <a id="contact_us" class="item" href="/contactus">تماس با ما</a>
        </div>
    {% endif %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>