<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}سایت دانشگاه{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>
    <div id="navbar" class="ui three item menu" style="background-color:#5F5CCE">
        <a id="login" class="item active">ورود</a>
        <a id="homepage" class="item" href="/">صفحه اصلی</a>
        <a id="register" class="item" href="signup/">ثبت نام</a>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>